@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Libre+Baskerville:400,700,400italic);
.clearfix {
  display: table;
}
.clearfix:before {
  content: '';
  width: 100%;
  height: 0px;
}
* {
  font-family: Libre\ Baskerville;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.row {
  width: 100%;
  margin-left: -8px;
  margin-right: -8px;
  display: table;
}
.row:before {
  content: '';
  width: 100%;
  height: 0px;
}
#grid {
  width: 100%;
  margin: auto;
  margin-top: 86px;
  display: table;
}
#grid:before {
  content: '';
  width: 100%;
  height: 0px;
}
.column {
  display: block;
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.column-1 {
  width: 6.25%;
}
.push-1 {
  left: 6.25%;
}
.offset-1 {
  margin-left: 6.25%;
}
.column-2 {
  width: 12.5%;
}
.push-2 {
  left: 12.5%;
}
.offset-2 {
  margin-left: 12.5%;
}
.column-3 {
  width: 18.75%;
}
.push-3 {
  left: 18.75%;
}
.offset-3 {
  margin-left: 18.75%;
}
.column-4 {
  width: 25%;
}
.push-4 {
  left: 25%;
}
.offset-4 {
  margin-left: 25%;
}
.column-5 {
  width: 31.25%;
}
.push-5 {
  left: 31.25%;
}
.offset-5 {
  margin-left: 31.25%;
}
.column-6 {
  width: 37.5%;
}
.push-6 {
  left: 37.5%;
}
.offset-6 {
  margin-left: 37.5%;
}
.column-7 {
  width: 43.75%;
}
.push-7 {
  left: 43.75%;
}
.offset-7 {
  margin-left: 43.75%;
}
.column-8 {
  width: 50%;
}
.push-8 {
  left: 50%;
}
.offset-8 {
  margin-left: 50%;
}
.column-9 {
  width: 56.25%;
}
.push-9 {
  left: 56.25%;
}
.offset-9 {
  margin-left: 56.25%;
}
.column-10 {
  width: 62.5%;
}
.push-10 {
  left: 62.5%;
}
.offset-10 {
  margin-left: 62.5%;
}
.column-11 {
  width: 68.75%;
}
.push-11 {
  left: 68.75%;
}
.offset-11 {
  margin-left: 68.75%;
}
.column-12 {
  width: 75%;
}
.push-12 {
  left: 75%;
}
.offset-12 {
  margin-left: 75%;
}
.column-13 {
  width: 81.25%;
}
.push-13 {
  left: 81.25%;
}
.offset-13 {
  margin-left: 81.25%;
}
.column-14 {
  width: 87.5%;
}
.push-14 {
  left: 87.5%;
}
.offset-14 {
  margin-left: 87.5%;
}
.column-15 {
  width: 93.75%;
}
.push-15 {
  left: 93.75%;
}
.offset-15 {
  margin-left: 93.75%;
}
.column-16 {
  width: 100%;
}
.push-16 {
  left: 100%;
}
.offset-16 {
  margin-left: 100%;
}
body {
  font-size: 16px;
}
body > .deco {
  background-image: url('../images/10843782_1528715010710165_514727872_n.jpg');
  background-size: cover;
  filter: blur(25px);
  -webkit-filter: blur(25px);
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#main,
.container {
  width: 960px;
  margin: auto;
  display: table;
}
#main:before,
.container:before {
  content: '';
  width: 100%;
  height: 0px;
}
.nav {
  position: fixed;
  width: 100%;
  padding: 10px;
  margin: 0;
  top: 0;
  left: 0;
  height: 53px;
  background: #2b547e;
  z-index: 1000;
}
.nav:after {
  box-shadow: 0 5px 2px -3px rgba(0, 0, 0, 0.3);
  margin-left: -5px;
}
.nav:before {
  background: -webkit-radial-gradient(top center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(top center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  margin-left: -5px;
}
.nav:after,
.nav:before {
  content: '';
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1 !important;
}
.image,
.video {
  width: 100%;
  margin: 16px auto;
  box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.3), 1px 5px 3px -2px rgba(44, 44, 44, 0.25);
  border-radius: 0.25rem;
  position: relative;
  background: -webkit-linear-gradient(top, white 66%, whitesmoke 100%);
  background: linear-gradient(top, white 66%, whitesmoke 100%);
}
.image header,
.video header,
.image section,
.video section,
.image footer,
.video footer {
  padding: 0.5em 1em;
}
.image footer,
.video footer {
  font-size: 0.8em;
  line-height: 1.5;
  word-wrap: break-word;
}
.image img,
.video img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  width: 100%;
}
.image > div a,
.video > div a {
  display: block;
  width: 100%;
}
.image > div > img:after,
.video > div > img:after,
.image > div > video:after,
.video > div > video:after {
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 100%;
  height: 100%;
}
.play-stop {
  zoom: 1;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
.play-stop:before,
.play-stop:after {
  display: table;
  content: " ";
}
.play-stop:after {
  clear: both;
}
.play-stop:hover span {
  opacity: 1;
}
.play-stop span {
  float: right;
  margin: 0.3rem 0.3rem 0 0;
  color: white;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
}
